  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">自己PR</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>『主体的行動力』</h4>
          <p>
            前職の飲食店ではリーズナブルなワインを豊富に取り扱っており、それを一つの武器として売り出しておりました。<br>
            しかし私が勤めた店舗ではワイン部門の売上げが中々伸びず、入社当初から約三年程、社内目標に届いておりませんでした。<br>
            原因として、従業員のサービススキルがお客様の期待に届いておらず、レストランとしてお客様がワインを飲みたいと思える空間を作れていないと考えました。<br>
            そこで自らがプロフェッショナルになり、従業員の士気を高める決意をし、2018年1月からソムリエ資格取得のための勉強を始めました。<strong>知らないことを覚えることや、覚えたことを人に話して感動してもらえることがとても楽しく</strong>、労働時間が月に280時間を超える環境でも週に20時間の学習を継続することができました。その結果、社内での合格率が毎年約5%のソムリエ資格を取得することができました。<br>
            そして勉強開始時期から資格取得時期にかけて、お客様のワインセレクトに対するご相談に積極的にお答えする姿勢を見せ、ワインサービスを牽引することで従業員の士気を高めました。一年ほど継続し、遂にはワイン部門の社内売り上げ目標を達成することができました。<br>
            また、資格取得後もさらなる研鑽が必要と考え、社内で開催されていたワインセミナーに月に一度参加し、そこで得た知識を共有する場として、従業員向けの勉強会やサービスロールプレイを月に一度開催しました。自分だけではなく他の従業員のワインに対する知識を強化し、全ての従業員のサービススキルを向上させることで、18％程だったワインの売上げ構成比を22%まで押し上げることができました。個人としても、資格取得の際に身に付けた、味わいや香りといった人によって感じ方の違う抽象的な物を形容する表現力を活かし、リピーターを新たに20名程作ることができました。<br>
            今後はエンジニアとしてより幅広い分野の技術や知識を身に着けることで、自分にしかできない仕事、物づくりに携わっていきたいと考えています。
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">プログラミングへの関心</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            私がプログラミングに興味を持ったきっかけは技術を利用することで、人手不足に悩まされている業界で働く人々の生活を豊かにできると感じたからです。<br>
            前職の飲食店では接客業務に加え、商品管理、発注業務など、時間外での労働が少なくありませんでした。<br>
            人手不足が原因で労働時間が長くなる傾向にあったため、時間外の業務は体力的に厳しく、それらを無くすことはできないかと日頃考えていました。そんな時、プログラミングを勉強しているという従業員と出会い、話を聞いている内にプログラミングを利用した業務改善が可能なのではないかと考え、興味が湧きました。そこで独学でProgate、.installといったウェブサービスでの学習を始めました。学習を進めながら、従業員と意見交換を重ねる内にテックキャンプの存在を知り、プログラミング技術を0から身に付ける決心をしました。<br>
            受講が始まってからは、新しい知識や技術を身に着けることや、エラーに直面した際の仮説検証とその過程を経てエラーが解決した時の達成感がとても心地よく、学習意欲がどんどん高まり、用意して頂いたカリキュラムを予定より1ヶ月早く終えることができました。<br>
            一度学習して終わりではなく、日々更新される技術を同じスピードで更新し続けることが大切だと考え、カリキュラム以外の学習ツールを使用して知識の深耕と開拓にも時間を当てました。<br>
            私はプログラミングを活用し、人が毎日笑顔で働ける環境を支えていきたいと考えております。<br>
            技術を活用した業務改善、生活を豊かにするためのwebサービスなど、自分が携わったもので一人でも多くの生活を豊かにしたいです。<br>
            そのため、今後はより多くの知識と技術を身に着ける必要があると考えます。常に新しいことに挑戦し続ける貪欲な姿勢を保ち、一人でも多くの笑顔を作っていきたいです
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">使用可能言語</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
            <li>Bootstrap</li>
            <li>SASS</li>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>Ruby、Ruby on rails</li>
          </ul>
          <p>JavaScript、PythonをUdemyを使用して学習中です。</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
