  <nav class="mobile-menu">
    <ul class="mobile-menu__main">
      <li class="mobile-menu__item">
        <button class="mobile-menu__link text-decoration-none" type="button" data-toggle="modal" data-target="#exampleModal">
          <span class="main-title">Self PR</span>
          <span class="sub-title">自己PR</span>
        </button>
      </li>
      <li class="mobile-menu__item">
        <button class="mobile-menu__link text-decoration-none" type="button" data-toggle="modal" data-target="#exampleModal2">
          <span class="main-title">About Programing</span>
          <span class="sub-title">プログラミングへの関心</span>
        </button>
      </li>
      <li class="mobile-menu__item">
        <button class="mobile-menu__link text-decoration-none" type="button" data-toggle="modal" data-target="#exampleModal3">
          <span class="main-title">Skill Set</span>
          <span class="sub-title">使用可能言語</span>
        </button>
      </li>
    </ul>
  </nav>
