<div class="home">
  <%# ヘッダーここから %>
  <header>
    <div class="container">
      <h1>Yuma's Portfolio</h1>
      <button class="menu-icon" onclick="document.querySelector('body').classList.toggle('menu-open');">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </header>
  <%# ヘッダーここまで %>

  <div class="container mt-4">

    <%# メインここから %>
    <div class="main-wrapper container">

      <div class="row heading">
        <h2 class="col-12 text-center">
          <span>自己紹介</span><br>
          Introduction
        </h2>
      </div>

      <div class="row pt-3">
        <div class="col-sm-12 col-md-4 text-center mb-5 mb-md-0">
          <%= image_tag "/assets/profile.jpeg", class:"img-fluid rounded-circle" %>
          <div class="mt-3">
            <a href="https://twitter.com/YumaMatsui1"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/yuma-matsui"><i class="fab fa-github"></i></a>
            <a href="https://qiita.com/YumaMatsui1">Qiita</a>
          </div>
        </div>

        <div class="col-sm-12 col-md-8">
          <ul>
            <li>
              <dl>
                <dt>名前</dt>
                <dd>松井佑磨</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>出身地</dt>
                <dd>神奈川県(現在住)</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>最終学歴</dt>
                <dd>高卒</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>職歴</dt>
                <dd>サービス業に9年間従事</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>活動</dt>
                <dd>5年間の音楽活動<br>
                プロのミュージシャンを目指していました!
                </dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>趣味</dt>
                <dd>音楽、英会話、スポーツ</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>その他</dt>
                <dd>ソムリエ資格をもってます</dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%# メインここまで %>

    <%# セカンドここから %>
    <div class="second-wrapper mt-5 container">
      <div class="row heading">
        <h3 class="col-12 text-center">
          <span>開発実績</span><br>
          Discography
        </h3>
      </div>

      <div class="row d-flex flex-column align-items-center justify-content-between flex-md-row align-items-md-start pb-5">
        <div class="card mt-5" style="width: 18rem;">
          <%= image_tag "/assets/tasting.png", class:"card-img-top" %>
          <div class="card-body">
            <h5 class="card-title">Tasting Note</h5>
            <ul class="card-text">
              <li>
                <dl>
                  <dt>機能</dt>
                  <dd>ワインのテイスティング記録ができるアプリケーション。</dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>ターゲット</dt>
                  <dd>ワインが好きな方、ソムリ試験受験者。</dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>開発言語</dt>
                  <dd>Ruby、Ruby on rails、JavaScript</dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>概要</dt>
                  <dd>投稿と管理の利便性を上げるためにActiveHashを用いました。</dd>
                </dl>
              </li>
            </ul>
            <a href="https://tasting-note.herokuapp.com/" class="slide-bg">Visit there</a>
          </div>
        </div>
        <div class="card mt-5" style="width: 18rem;">
          <%= image_tag "/assets/tasting.png", class:"card-img-top" %>
          <div class="card-body">
            <h5 class="card-title">Coming soon...</h5>
            <p class="card-text">Coming soon...</p>
            <a href="#" class="slide-bg">Visit there</a>
          </div>
        </div>
        <div class="card mt-5" style="width: 18rem;">
          <%= image_tag "/assets/tasting.png", class:"card-img-top" %>
          <div class="card-body">
            <h5 class="card-title">Coming soon...</h5>
            <p class="card-text">Coming soon...</p>
            <a href="#" class="slide-bg">Visit there</a>
          </div>
        </div>
      </div>
    </div>
    <%# セカンドここまで %>
  </div>

  <%# フッターここから %>
  <footer>
    <h4 class="text-center">copyright &copy; Yuma's Portfolio 2020</h4>
  </footer>
  <%# フッターここまで %>
</div>