<%# ヘッダーここから %>
<header>
  <div class="container">
    <h1>Yuma's Portfolio</h1>
    <button class="menu-icon">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
<%# ヘッダーここまで %>

<div class="container border-top">

  <%# メインここから %>
  <div class="main-wrapper">
  </div>
  <%# メインここまで %>

  <%# セカンドここから %>
  <div class="second-wrapper"></div>
  <%# セカンドここまで %>
</div>

<%# フッターここから %>
<footer class="main-footer"></footer>
<%# フッターここまで %>