<div class="home">
  <%# ヘッダーここから %>
  <header>
    <div class="container">
      <h1>Yuma's Portfolio</h1>
      <button class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </header>
  <%# ヘッダーここまで %>

  <div class="container mt-4">

    <%# メインここから %>
    <div class="main-wrapper border-top container">

      <div class="row">
        <h2 class="col-12 text-center">
          <span>自己紹介</span><br>
          Introduction
        </h2>
      </div>

      <div class="row bg-light pt-3">
        <div class="col-5 text-center">
          <img src="assets/profile.png" alt="introduction画像" class="img-fluid rounded-circle">
          <div class="mt-3">
            <a href="https://twitter.com/YumaMatsui1"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/yuma-matsui"><i class="fab fa-github"></i></a>
          </div>
        </div>

        <div class="col-7">
          <ul>
            <li>
              <dl>
                <dt>名前</dt>
                <dd>松井佑磨</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>出身地</dt>
                <dd>神奈川県(現在住)</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>最終学歴</dt>
                <dd>高卒</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>職歴</dt>
                <dd>サービス業に9年間従事</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>活動</dt>
                <dd>5年間の音楽活動<br>
                プロのミュージシャンを目指していました!
                </dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>趣味</dt>
                <dd>音楽、スポーツ</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>その他</dt>
                <dd>ソムリエ資格をもってます</dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <%# メインここまで %>

    <%# セカンドここから %>
    <div class="second-wrapper"></div>
    <%# セカンドここまで %>
  </div>

  <%# フッターここから %>
  <footer class="main-footer"></footer>
  <%# フッターここまで %>
</div>