<%# ヘッダーここから %>
<header class='main-header'>
  <h1>Yuma's Portfolio</h1>
  <button class="menu-icon">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<%# ヘッダーここまで %>

<div class="container border-top">

  <%# メインここから %>
  <div class="main-wrapper">
  <img src="/assets/images/profile.png" alt="">
  </div>
  <%# メインここまで %>

  <%# セカンドここから %>
  <div class="second-wrapper"></div>
  <%# セカンドここまで %>
</div>

<%# フッターここから %>
<footer class="main-footer"></footer>
<%# フッターここまで %>