@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

// ==========共通部分=================

body{
}

// ==========共通部分=================



// ===========ヘッダー================

header{
  width: 100%;
  height: 110px;

  & .container{
    position: relative;
    & h1{
      font-weight: bold;
      font-size: 35px;
      text-align: center;
      line-height: 110px;
      font-family: 'Castoro', serif;
    }

    & button.menu-icon {
      background-color: unset;
      outline: none !important;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 38px;
      right: 0;

      & span{
        display: block;
        background-color: black;
        width: 35px;
        height: 3px;
        margin-bottom: 9px;

        &:last-child{
          margin-bottom: 0;
        }
      }
   }
  }
}

// ===========ヘッダー================


// ===========メイン================

.main-wrapper{
  height: 500px;
  background-color: blue;
  width: 100%;
}

// ===========メイン================


.second-wrapper{
  height: 350px;
  background-color: yellow;
}

.main-footer{
  height: 60px;
  width: 100%;
  background-color: black;
}