@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

$cYellow: #e7d31c;

// ==========共通部分=================
.home{
  background-color: #f5f5f5;
  font-family: 'Castoro', serif;
  margin: 0;
}

ul{
  padding: 0;
  margin: 0;
}

li{
    list-style: none;
  }

  div.heading{
    height: 90px;
    padding: 10px 0;

    & span{
      font-size: 16px;
      color: $cYellow;
    }
    & h2, h3{
      font-weight: bold;
      font-size: 28px;
    }
  }


// ==========共通部分=================



// ===========ヘッダー================
// ====================================

header{
  width: 100%;
  height: 110px;

  & .container{
    position: relative;
    & h1{
      font-weight: bold;
      font-size: 35px;
      text-align: center;
      line-height: 110px;
    }

    & button.menu-icon {
      background-color: unset;
      outline: none !important;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 38px;
      right: 0;

      & span{
        display: block;
        background-color: black;
        width: 35px;
        height: 3px;
        margin-bottom: 9px;
        transition: transform .7s;

        &:last-child{
          margin-bottom: 0;
        }
      }
   }
  }
}

.menu-open{
  & .menu-icon{
    & > span{
      
      &:nth-child(1){
        transform: translateY(12px) rotate(225deg);
      }
      &:nth-child(2){
        transform: translateX(-18px) scaleX(0);
      }
      &:nth-child(3){
        transform: translateY(-12px) rotate(-225deg);
      }
    }
  }
}

//=======ヘッダーここまで===========
//==================================


// ===========メイン================
//==================================
.main-wrapper{
  background-color: white;
  width: 100%;
  box-shadow: 0 5px 10px rgba($color: black, $alpha: .5);

  &>div:nth-child(2){

    & img{
      width: 300px;
    }

    & a{
      font-size: 25px;
      color: black;
      margin-right: 5px;

      &:last-child{
        margin-right: 0;
        font-size: 20px;
        text-decoration: none;
      }
    }

    & ul li dl{
      display: flex;

      & dt{
        font-size: 16px;
        margin-right: 10px;
        font-weight: normal;
      }

      & dd{
        font-weight: bold;
        font-size: 20px;
      }
    }
  }


}

// ========メインここまで============
//===================================


// ===========メイン2===============
//==================================

.second-wrapper{

  & .card{
    box-shadow: 0 5px 10px rgba($color: black, $alpha: .5);
   
    & .card-title{
      font-weight: bold;
      font-size: 22px;
    }
    
    & .card-text{
        & dt{
        font-size: 16px;
        margin-top: 15px;
      }
        & dd{
          font-weight: normal;
          font-size: 14px;
      }
    }

    & a {
      text-decoration: none;
      text-align: center;
      display: block;
      background-color: white;
      color: black;
      border: 1px solid black;
      border-radius: 3px;
      font-weight: 600;
      padding: 5px 20px;
      z-index: 1;

      &.slide-bg{
        position: relative;
        overflow: hidden;

        &::before{
          content: '';
          display: inline-block;
          width: 100%;
          height: 100%;
          background-color: black;
          position: absolute;
          top: 0;
          left: 0;
          transform: translateX(-100%);
          transition: transform .3s;
          z-index: -1;
        }
        &:hover {
          color: white;

          &::before{
            transform: none;
          }
        }
      }
    }
  }
}  

// ========メイン2ここまで==========
//==================================


footer{
  height: 55px;
  width: 100%;

  & h4{
    font-size: 13px;
    line-height: 55px;
  }
}