@import url("https://fonts.googleapis.com/css2?family=Castoro&display=swap");
.home {
  font-family: 'Castoro', serif;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

div.heading {
  height: 90px;
  padding: 10px 0;
}

div.heading span {
  font-size: 16px;
  color: #e7d31c;
}

div.heading h2, div.heading h3 {
  font-weight: bold;
  font-size: 28px;
}

#container {
  background-color: teal;
  position: relative;
  z-index: 2;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-open #container {
  -webkit-transform: translate(-350px, 60px);
          transform: translate(-350px, 60px);
  -webkit-box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}

.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}

.menu-open .mobile-menu__item {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.menu-open .mobile-menu__item:nth-child(1) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

.menu-open .mobile-menu__item:nth-child(2) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.menu-open .mobile-menu__item:nth-child(3) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

.menu-open .mobile-menu__item:nth-child(4) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.menu-open .mobile-menu__item:nth-child(5) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-open .mobile-menu__btn > span:nth-child(1) {
  -webkit-transform: translateY(12px) rotate(225deg);
          transform: translateY(12px) rotate(225deg);
}

.menu-open .mobile-menu__btn > span:nth-child(2) {
  -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
}

.menu-open .mobile-menu__btn > span:nth-child(3) {
  -webkit-transform: translateY(-12px) rotate(-225deg);
          transform: translateY(-12px) rotate(-225deg);
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 60px;
  width: 300px;
}

.mobile-menu__btn {
  background-color: unset;
  outline: none !important;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 38px;
  right: 0;
}

.mobile-menu__btn span {
  display: block;
  background-color: white;
  width: 35px;
  height: 3px;
  margin-bottom: 9px;
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
}

.mobile-menu__btn span:last-child {
  margin-bottom: 0;
}

.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  cursor: pointer;
}

.mobile-menu__main {
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.mobile-menu__item {
  display: block;
  -webkit-transform: translate3d(0, 0, -1000px);
          transform: translate3d(0, 0, -1000px);
  padding-right: 20px;
  -webkit-transition: opacity .2s, -webkit-transform .3s;
  transition: opacity .2s, -webkit-transform .3s;
  transition: transform .3s, opacity .2s;
  transition: transform .3s, opacity .2s, -webkit-transform .3s;
  opacity: 0;
}

.mobile-menu__link {
  display: block;
  margin-top: 30px;
  color: black;
  text-decoration: none;
  border: none;
  background-color: unset;
  outline: none !important;
}

.main-title {
  font-weight: 600;
  font-size: 24px;
}

.sub-title {
  display: block;
  font-size: 14px;
  color: #535353;
  text-align: left;
}

header {
  width: 100%;
  height: 110px;
}

header .container {
  position: relative;
}

header .container .animate-title {
  color: white;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  line-height: 110px;
  opacity: 0;
}

header .container .animate-title.inview {
  opacity: 1;
}

header .container .animate-title.inview .char {
  display: inline-block;
  -webkit-animation-name: kf-animate-chars;
          animation-name: kf-animate-chars;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
          animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

header .container .animate-title.inview .char:nth-child(1) {
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
}

header .container .animate-title.inview .char:nth-child(2) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}

header .container .animate-title.inview .char:nth-child(3) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

header .container .animate-title.inview .char:nth-child(4) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}

header .container .animate-title.inview .char:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

header .container .animate-title.inview .char:nth-child(6) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

header .container .animate-title.inview .char:nth-child(7) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}

header .container .animate-title.inview .char:nth-child(8) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}

header .container .animate-title.inview .char:nth-child(9) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

header .container .animate-title.inview .char:nth-child(10) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

header .container .animate-title.inview .char:nth-child(11) {
  -webkit-animation-delay: 0.44s;
          animation-delay: 0.44s;
}

header .container .animate-title.inview .char:nth-child(12) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

header .container .animate-title.inview .char:nth-child(13) {
  -webkit-animation-delay: 0.52s;
          animation-delay: 0.52s;
}

header .container .animate-title.inview .char:nth-child(14) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}

header .container .animate-title.inview .char:nth-child(15) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

header .container .animate-title.inview .char:nth-child(16) {
  -webkit-animation-delay: 0.64s;
          animation-delay: 0.64s;
}

@-webkit-keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.main-wrapper {
  background-color: white;
  width: 100%;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.main-wrapper > div:nth-child(2) img {
  width: 300px;
}

.main-wrapper > div:nth-child(2) a {
  font-size: 25px;
  color: black;
  margin-right: 5px;
}

.main-wrapper > div:nth-child(2) a:last-child {
  margin-right: 0;
  font-size: 20px;
  text-decoration: none;
}

.main-wrapper > div:nth-child(2) ul li dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-wrapper > div:nth-child(2) ul li dl dt {
  font-size: 16px;
  margin-right: 10px;
  font-weight: normal;
}

.main-wrapper > div:nth-child(2) ul li dl dd {
  font-weight: bold;
  font-size: 20px;
}

.second-wrapper .card {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.second-wrapper .card .card-title {
  font-weight: bold;
  font-size: 22px;
}

.second-wrapper .card .card-text dt {
  font-size: 16px;
  margin-top: 15px;
}

.second-wrapper .card .card-text dd {
  font-weight: normal;
  font-size: 14px;
}

.second-wrapper .card a {
  text-decoration: none;
  text-align: center;
  display: block;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  font-weight: 600;
  padding: 5px 20px;
  z-index: 1;
}

.second-wrapper .card a.slide-bg {
  position: relative;
  overflow: hidden;
}

.second-wrapper .card a.slide-bg::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: teal;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  z-index: -1;
}

.second-wrapper .card a.slide-bg:hover {
  color: white;
}

.second-wrapper .card a.slide-bg:hover::before {
  -webkit-transform: none;
          transform: none;
}

footer {
  height: 55px;
  width: 100%;
}

footer h4 {
  font-size: 13px;
  line-height: 55px;
  margin-bottom: 0;
}

.modal-title {
  font-size: 18px;
}

.modal-title span {
  font-size: 24px;
}

.modal-body {
  padding: 20px;
}

.modal-body p {
  line-height: 40px;
}
/*# sourceMappingURL=home.css.map */